#navbar {
  display: grid;
  align-items: center;
  background-color: var(--primary-color);

  border-color: var(--text-color);
  border-width: 2px;
  border-style: solid;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary-color);
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: var(--primary-color);
}