#uwarn {
  width: 30%;
  margin: auto;
  margin-top: 10%;

  border-width: 0.15rem;
  border-style: solid;
  border-color: var(--text-color);

  background-color: var(--primary-color);
  text-align: center;
}

#uwarn a button {
  margin: 0.5rem;

  border-width: 0.1rem;
  border-style: solid;
  border-color: var(--text-color);
}
