<div id="uwarn">
  <p>It seems that you are not logged in!</p>
  <p>If you want access to features, you need to log in or signup</p>

  <a href="/login">
    <button>login</button>
  </a>
  <br>
  <a href="/register">
    <button>Sign up</button>
  </a>
</div>